<h1 class="dashboard_heading">OPCC Support and Maintenance Dashboard</h1>
<div id="grid">
    <div class="grid_item first">
      <div class="card_title">Maintenance Backlog</div>
      <div class="card_body">
        <span class="data_item">
          <% if @backlog %>
            <%= @backlog %>
          <% else %>
            nil
          <% end %>
        </span>
        <p class="data_description">cards in backlog</p>
      </div>
    </div>
    <div class="grid_item second">
      <div class="card_title">Hello</div>
    </div>
    <div class="grid_item third">
      <div class="card_title">It'sa me</div>
    </div>
    <div class="grid_item fourth">
      <div class="card_title">Mario</div>
    </div>

</div>
